html, body {
  height: 100%;
  background-color: rgb(250, 250, 245);
  color: rgb(116, 105, 87);
}

#container {
  height: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

article {
  height: 100%;
}

.foc-icon {
  display: inline-block;
}

.home-header {
  height: 50%;
  display: table;
  background: rgb(89,44,63);
  width: 100%;
  border-bottom: 2px dashed #fdfdfd;
}

.home-header-title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.home-header-title-name {
  font-family: 'Pacifico', cursive;
  color: white;
  display: inline-block;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
}

h1.home-header-title-name {
  font-size: 4rem;
}
