html, body {
  height: 100%;
  background-color: rgb(224, 78, 51);
  color: white;
}

#container {
  height: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

article {
  height: 100%;
}

.foc-icon {
  display: inline-block;
}

.home-header {
  height: 50%;
  display: table;
  background: rgb(89,44,63);
  width: 100%;
  border-bottom: 2px dashed #fdfdfd;
}

.home-header-title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

nav h1 {
  font-family: 'Pacifico', cursive;
  color: white;
}

h1.home-header-title-name {
  font-size: 4rem;
}
